h1 {
    padding-top: 10px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Courgette', cursive;
}

h3 {
    font-family: 'Courgette', cursive;
}

form {
    padding: 30px;
    padding-bottom: 15px;
    width: 60%;
    border-radius: 10px;
    background: #B1FCFC;
    margin: 2% auto;
    position: relative;
}


form p {
    text-align: left;
}

#submit:hover {
    background: transparent;
    color: green;
}

#retake:hover {
    background: transparent;
    color: blue;
}

#score {
    display: none;
    font-family: 'Courgette', cursive;
}

.scoreDisplay {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}